@media screen and (max-width: 1400px) and (min-width: 1200px) {
    header {
        position: fixed;
        background-color: red;
    }
    .grib {
        position: sticky;
        background-color: rgb(64, 255, 0);
        top: 150px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 883px) {
    header {
        position: static;
        background-color: rgb(128, 0, 105);

    }
    .grib {
        position: absolute;
        background-color: rgb(0, 9, 128);
        right: 0;
        top: 50%;
    }
}
